@media ( max-width: 1200px )
  .container
    width: 670px
  .navbar
    &__container
      width: 650px
      padding-bottom: 45px
    &__navigation
      display: none
  .collection
    &__item
      flex-wrap: wrap
      padding: 80px 0
    &__muse
      margin-right: 0
      margin-bottom: 37px
    &__content
      flex-basis: 100%
    &__text
      margin-bottom: 22px
