*
  box-sizing: border-box
body
  font-family: 'Open Sans', sans-serif
  font-feature-settings: "locl" 0
.container
  width: 1140px
  margin: auto
  border: 1px solid red
ul
  padding: 0
  margin: 0
li
  list-style: none
.link
  text-decoration: none
  cursor: pointer
.button
  border: none
  background: $main
  border-radius: 8px
  cursor: pointer
.section-title
  margin: 0
  font-family: HK Grotesk-bold
  font-style: normal
  font-weight: bold
  font-size: 48px
  line-height: 60px
  letter-spacing: 0.2px
  color: $main
.tabs
  display: flex
  align-items: center
  &__item
    font-style: normal
    font-weight: normal
    font-size: 18px
    line-height: 25px
    color: $grey-text
    cursor: pointer
    &:not(:first-child)
      margin-left: 38px
    &_active
      font-style: normal
      font-weight: bold
      font-size: 18px
      line-height: 25px
      color: $main
.content
  &__item
    display: none
    &_active
      display: block
