.footer
  &__wrapper
    display: grid
    grid-template-columns: 263px repeat(4, 165px)
    grid-column-gap: 30px
    padding: 130px 0
  &__title
    margin: 0
    margin-bottom: 30px
    font-style: normal
    font-weight: bold
    font-size: 18px
    line-height: 25px
    color: $main
  &__text
    font-style: normal
    font-weight: normal
    font-size: 16px
    line-height: 28px
    color: $grey-text

  &__item
    font-style: normal
    font-weight: normal
    font-size: 16px
    line-height: 22px
    color: $main
    &:not(:first-child)
      margin-top: 24px
