.navbar
  &__wrapper
    margin: auto
    padding: 33px 0 72px 0
    display: flex
    align-items: center
    justify-content: space-between
  &__navigation
    display: flex
    align-items: center
  &-menu
    display: flex
    align-items: center
    justify-content: space-between
    width: 506px
    padding: 0
    margin: 0
    &__link
      font-style: normal
      font-weight: 600
      font-size: 16px
      line-height: 22px
      color: $main
  &__mobile
    &-button
      display: none
    &_visible
      display: none
      flex-direction: column
      position: fixed
      top: 5px
      left: 5px
      right: 5px
.menu
  &-button
    width: 22px
    height: 18px
    border: none
    &__line
      width: 100%
      height: 2px
      background: #3A4C66
.user-login
  &__text
    margin-left: 50px
    padding: 13px 21px
    text-align: center
    font-style: normal
    font-weight: bold
    font-size: 16px
    line-height: 22px
    color: $secondary
    border: 2px solid $secondary
    filter: drop-shadow(0px 10px 25px rgba(21, 37, 72, 0.1))
    border-radius: 8px
