.trending
  padding-bottom: 110px
  &-header
    display: flex
    align-items: center
    justify-content: space-between
    margin-bottom: 54px
  &__wrapper
    display: flex
    flex-wrap: wrap
    justify-content: space-between
  &__card
    width: 260px
    margin-bottom: 40px
    &:nth-child(1) .trending__img
      background-image: url(../img/trends-1.jpg)
    &:nth-child(2) .trending__img
      background-image: url(../img/trends-2.jpg)
    &:nth-child(3) .trending__img
      background-image: url(../img/trends-3.jpg)
    &:nth-child(4) .trending__img
      background-image: url(../img/trends-4.jpg)
    &:nth-child(5) .trending__img
      background-image: url(../img/trends-5.jpg)
    &:nth-child(6) .trending__img
      background-image: url(../img/trends-6.jpg)
    &:nth-child(7) .trending__img
      background-image: url(../img/trends-7.jpg)
    &_best
      &:nth-child(1) .trending__img
        background-image: url(../img/trends-7.jpg)
      &:nth-child(2) .trending__img
        background-image: url(../img/trends-6.jpg)
      &:nth-child(3) .trending__img
        background-image: url(../img/trends-5.jpg)
      &:nth-child(4) .trending__img
        background-image: url(../img/trends-4.jpg)
      &:nth-child(5) .trending__img
        background-image: url(../img/trends-3.jpg)
      &:nth-child(6) .trending__img
        background-image: url(../img/trends-2.jpg)
      &:nth-child(7) .trending__img
        background-image: url(../img/trends-1.jpg)
    &_soon
      &:nth-child(1) .trending__img
        background-image: url(../img/trends-5.jpg)
      &:nth-child(2) .trending__img
        background-image: url(../img/trends-3.jpg)
      &:nth-child(3) .trending__img
        background-image: url(../img/trends-6.jpg)
      &:nth-child(4) .trending__img
        background-image: url(../img/trends-1.jpg)
      &:nth-child(5) .trending__img
        background-image: url(../img/trends-2.jpg)
      &:nth-child(6) .trending__img
        background-image: url(../img/trends-7.jpg)
      &:nth-child(7) .trending__img
        background-image: url(../img/trends-4.jpg)
    &_description
      display: flex
      flex-direction: column
      align-items: center
      justify-content: center
      height: 126px
      padding-top: 24px
    &_more
      background: $secondary
      border-radius: 8px
      overflow: hidden
      height: 350px
      margin-bottom: 18px
      display: flex
      align-items: center
      justify-content: center
      &-text
        margin-top: 22px
        flex-basis: 100%
        font-family: HK Grotesk-bold
        font-style: normal
        font-weight: bold
        font-size: 24px
        line-height: 32px
        text-align: center
        letter-spacing: 0.2px
        color: $light-text
  &__img
    border-radius: 8px
    overflow: hidden
    height: 350px
    margin-bottom: 22px
    background-repeat: no-repeat
    background-size: cover
  &__info
    padding: 0 10px 10px
    display: flex
    flex-wrap: wrap
    justify-content: space-between
  &__subtitle
    flex-basis: 100%
    margin: 0
    margin-bottom: 12px
    font-family: HK Grotesk-bold
    font-style: normal
    font-weight: bold
    font-size: 24px
    line-height: 32px
    letter-spacing: 0.2px
    color: $main
  &__prace
    font-style: normal
    font-weight: normal
    font-size: 20px
    color: $grey-text
